# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.io/en/latest/deploy.html

[settings]
default = graduation.settings

[deploy]
url = http://120.79.35.73:6800/
project = graduation
